# News API (Get key: https://newsapi.org/register)
VITE_API_URL=https://newsapi.org/v2
VITE_NEWS_API_KEY=your_news_api_key_here

# Sanity CMS
VITE_SANITY_PROJECT_ID=dbw893fg
VITE_SANITY_API_VERSION=2024-03-02